@font-face {
  font-family: 'GTEestiProDisplay';
  src: url('/fonts/GTEestiProDisplay-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'GTEestiProDisplay';
  src: url('/fonts/GTEestiProDisplay-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'GTEestiProDisplay';
  src: url('/fonts/GTEestiProText-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
